.center {
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}

.container-fluid {
 padding: 30px;
}

body {
font-size: 18px;
}

.name {
font-size: 18px;
font-family: Helvetica; font-style: normal; font-variant: normal; font-weight: 300; line-height: 20px;
}

.affiliation {
font-size: 16px;
font-family: Helvetica; font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px;
}

.my-carousel {
    //min-height: 280px;
    min-height: 15vw;
}

h4 {
font-size: 20px;
}

.sidenav {
  padding: 10px;
  position: fixed;
  top: 120px;
  width: 16.7%;
}

.barright {
  right: 0;
}

.shift {
  padding: 0 15px;
}

.vid-caption {
  padding: 5px;
}

.slidebutton {
  font-size: 21px;
}

img.sr-inp {
    display: none;
}

@media only screen and (max-width: 960px) {
    .sidenav {
        display: none;
    }
}

.sidenav a:hover {
  color: #064579;
}

.my-buttons {
    padding: 10px;
}

.slick-prev:before, .slick-next:before{
    background-color: #666666;
    /*font-size: 40px;*/
    border-radius: 50%;
}

.grey {
    background-color: #edf3fc;
    //#f2f2f2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
